/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/