/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/CalculadoraIdade/dist/
/operadoresaritimeticos/nbproject/private/
/calculadoraexp/nbproject/private/
/calculadoraexp/dist/
/calculadoraexp/build/
/OperadorUnario/nbproject/private/
/OperadorUnario/build/
/OperadorUnario/dist/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/