/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/CalculadoraIdade/dist/
/operadoresaritimeticos/nbproject/private/
/calculadoraexp/nbproject/private/
/calculadoraexp/dist/
/calculadoraexp/build/
/OperadorUnario/nbproject/private/
/OperadorUnario/build/
/OperadorUnario/dist/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/VerificadorIdadeSwing/dist/
/LeitorDePensamento/nbproject/private/
/CondicaoSimples/nbproject/private/
/CondicaoSimples/build/
/ProgramaIdadade/nbproject/private/
/ProgramaIdadade/build/
/ParouImpar/nbproject/private/
/ParouImpar/build/
/TelaEquicao/nbproject/private/
/TelaEquicao/dist/
/TelaEquicao/build/
/EstruturaCondicional/nbproject/private/
/EstruturaCondicional/build/
/EstruturaCondicional2/nbproject/private/
/EstruturaCondicional2/build/
/EstruturaCondicional2/dist/
/Switch/nbproject/private/
/Switch/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/ProjetoTriangulo/dist/
/EstruturadeRepeticao/nbproject/private/
/EstruturadeRepeticao/build/
/Contador02/nbproject/private/
/Contador02/build/
/Contador02/dist/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/ProjetoFatorial/dist/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/ExercicioJoption/nbproject/private/
/ExercicioJoption/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/ExercicioRepitacao/nbproject/private/
/ExercicioRepitacao/build/
/ExercicioRepitacao/dist/
/Vetor01/nbproject/private/
/Vetor01/build/
/MesAno/nbproject/private/
/MesAno/build/
/foreach/nbproject/private/
/foreach/build/
/VetorProgramaExercicio/nbproject/private/
/VetorProgramaExercicio/dist/
/VetorProgramaExercicio/build/
/TesteFuncao/nbproject/private/
/TesteFuncao/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
/TesteFuncao02/dist/